APP_NAME="Orionis Application"
APP_ENV="development"
APP_DEBUG=True
APP_TIMEZONE="UTC"
APP_LOCALE="en"
APP_FALLBACK_LOCALE="en"
APP_KEY=
APP_MAINTENANCE=False
APP_URL=

AUTH_REDIRECT_TO="/login"
AUTH_HOME="/home"

CACHE_STORE="file"
CACHE_PREFIX=
CACHE_FILE_PATH="storage/framework/cache/data"

REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TASKS_KEY=
REDIS_RUN_TIMES_KEY=

MEMCACHED_HOST="127.0.0.1"
MEMCACHED_PORT=11211

DB_CONNECTION="sqlite"
DB_DATABASE="database/database.sqlite"

DB_HOST="127.0.0.1"
DB_PORT=5432
DB_DATABASE="orionis"
DB_USERNAME="postgres"
DB_PASSWORD=
DB_TASK_CONNECTION=
DB_TASK_TABLE=

FILESYSTEM_DISK="local"
LOCAL_PATH="storage/app/private"
PUBLIC_PATH="storage/app/public"
PUBLIC_URL="/static"

HASH_DRIVER="argon2"

RATE_LIMIT_ENABLED=False
RATE_LIMIT_REQUESTS=100
RATE_LIMIT_WINDOW=60

CORS_ALLOW_ORIGINS="list:[]"
CORS_ALLOW_ORIGIN_REGEX=None
CORS_ALLOW_METHODS="list:[]"
CORS_ALLOW_HEADERS="list:[]"
CORS_EXPOSE_HEADERS="list:[]"
CORS_ALLOW_CREDENTIALS=False
CORS_MAX_AGE=600

CSRF_XSRF_COOKIE=False
CSRF_COOKIE_NAME="XSRF-TOKEN"

LOG_CHANNEL="stack"
LOG_LEVEL="info"

MAIL_MAILER="smtp"
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

TASKS_STORE="memory"

SESSION_DRIVER="memory"
SESSION_LIFETIME=120
SESSION_COOKIE="sessionid"

TESTING_VERBOSITY=2
