include README.md
include LICENSE

recursive-include orionis *.py *.pyi *.html *.stub
recursive-include orionis/http/default/assets *.css *.js *.ttf *.woff *.woff2 *.ico *.txt *.md

exclude app/*
exclude bootstrap/*
exclude config/*
exclude database/*
exclude routes/*
exclude storage/*
exclude tests/*

recursive-exclude app *
recursive-exclude bootstrap *
recursive-exclude config *
recursive-exclude database *
recursive-exclude routes *
recursive-exclude storage *
recursive-exclude tests *
